@inject DatabaseContext DatabaseContext
@inject IJSRuntime JsRuntime
@inject PdfGenerator PdfGenerator

<RadzenStack Orientation="Orientation.Vertical" Gap="4px" AlignItems="AlignItems.Center" >
    <div id="pdfContainer"></div>
</RadzenStack>