@using GestThéLib.Data.Database

@inject DatabaseContext DatabaseContext
@inject IJSRuntime JsRuntime

<RadzenStack Orientation="Orientation.Vertical" Gap="4px" AlignItems="AlignItems.Center" >
    <div id="pdfContainer"></div>
</RadzenStack>