@using GestThéLib.Models.Database

@namespace Shared

<div class="m-0.5 cursor-pointer">
    <RadzenBadge IsPill="true" Variant="Variant.Outlined" BadgeStyle="BadgeStyle.Dark" Text="@Item.FieldName" />
</div>

@code {
    [Parameter]
    public TField Item { get; set; }
}